html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  height: 100vh;
  background: #182C61;
}

button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  color: #cccccc;
  width: 250px;
  height: 80px;
  border: 1px solid #10ac84;
  border-radius: 10px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 2px;
  transition: .6s;
  overflow: hidden;
}

button:focus {
  outline: none;
}

button:before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5s;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}

button:after {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, .2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translate(-100px) scaleX(-15deg);
}

button:hover {
  background: #10ac84;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

button:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: .6;
  transition: 1.2s;
}

button:hover:after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: 1.2s;
}